{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Mon site web</title>
</head>
<body>
<div class="container">
    <h2>Bienvenue sur mon site</h2>
    <h2>Aujourd'hui nous sommes le {{date|date:"d F Y"}}</h2>
    <h3>Il est actuellement {{ date|date:"H\h i"}}</h3>
</div>

</body>
</html>